.download-area {

    position: relative;
    background-color: #FFFCF4;
    margin-left: 85px;
    .download-content {

        span {
            font-size: 24px;
            color: #F79F24;
            letter-spacing: 4px;
            line-height: 30px;
            text-transform: uppercase;
        }
        h3{
            font-size: 60px;
            line-height: 70px;
            text-transform: capitalize;
            color: #232323;
            padding-top: 10px;
            margin: 0;
        }
        p {
            font-size: 22px;
            line-height: 38px;
            color: #7E7E7E;
            padding-top: 20px;
            padding-bottom: 30px;
        }

        .download-button {
            display: inline-block;
            width: 170px;
            height: 60px;
            margin-right: 20px;

            .single-button {
                display: flex;
                align-items: center;
                background-color: #303030;
                padding: 10px 15px;
                border-radius: 5px;

                .download-button-icon {

                    i {
                        font-size: 30px;
                        color: #fff;
                        padding-right: 15px;
                    }
                }
                .download-button-title {

                    a {
                        font-size: 12px;
                        color: #fff;
                        line-height: 20px;
                        margin: 0;
                        padding: 0;
                        span {
                            display: block;
                            font-size: 16px;
                            color: #fff;
                            letter-spacing: 0;
                            text-transform: capitalize;
                            margin-top: -5px;
                        }   
                    }
                }
            }
        }
        
        
    }
}

.download-position {
	width: 250px;
	height: 250px;
	position: absolute;
	right: 121px;
    top: 55px;
    @include transition(.5s);
    animation: download 5.5s linear infinite;

    @keyframes download {
        0% {
            right: 121px;
        }
        50%{
           right: 300px;
           transform: rotate(-180deg);
           
        }
        100%{
            right: 121px;
        }
    }

}